.details__header {
    background-color: var(--btn-color);
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}
.details__header span {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.bg__overlay {
    position: relative;
    display: block;
    margin: auto;
    width: 95vw;
    height: 300px; 
}

.bg__img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg__overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}

.overlay__text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.overlay__text h1 {
    font-size: 4rem;
}

.overlay__text p {
    font-size: 1rem;
    line-height: 2;
    
}

.details__section {
    width: 90%;
    margin: auto;
}
.meal__heading {
    position: relative;
}
.meal__heading h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 2rem 0;
}

.meal__heading::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: var(--btn-color);
    bottom: -5px;
}

.details__content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.upper__details {
    display: flex;
    
    gap: 5rem;
    line-height: 1.4;
   
    
    
}
.food__details {
    width: 50%;
}
.food__img {
    width: 450px;
    height: 450px;
}
.food__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.food__details h2 {
    color: var(--btn-color);
    letter-spacing: 2px;
    text-transform: capitalize;

}

.food__details p {
    height: 170px;
    overflow: hidden;
    text-overflow: ellipse;
    line-height: 1.5;
}
.food__wrapper  { 
    display: grid;
    gap:18px;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
 margin-bottom: 3rem;
}

.food__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-radius: 0.7rem;
    width: 310px;
}

.menuImg__container {
   
    width: 250px;
    height: 250px;
    margin: 1rem;
    border-radius: 0.7rem;
}
.menu__img {
    display: flex;
    align-items: center;
    justify-content: center;
 width: 100%;
 height: 100%;   
 object-fit: cover;
 border-radius:1rem;
 
 
}

.recommended h1{
font-size: 2rem;
padding-left: 2rem;
text-transform: uppercase;
margin-top: 4rem;
}


.cart__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
}


@media screen and (max-width:960px){
    .upper__details {
        display: block;
    }
    .food__details {
        width: 100%;
    }
    .overlay__text h1 {
        font-size: 300%;
        white-space: nowrap;
    }
    .overlay__text p {
        font-size: 0.8rem;
    }
    .food__content h2 {
        
        margin-top: 3rem;
    }
    .food__img {
        width: 100%;
        height: 450px;
    }
   
}