

.review__details {
  background-color: #fff7ec; 
  padding: 0.7rem; 
  width: 280px;
  border-radius: 1rem;
}


.review__img {
    border-radius: 50%;
}

.chef__heading,.arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.chef__heading h1 {
    margin-left: 1.1rem;
}

.arrow span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 2px solid var(--btn-color);
    border-radius: 50%;
    transition: all 0.5s;
    color: var(--color);
    cursor: pointer;
}

/*.chef__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap:2rem;
    
}*/

.chef__details {
    background: #fff;
    width: 280px;
    border-radius: 1rem;
    padding: 0.5rem;
}
.chefImg__wrapper {
    display: block;
    margin:1rem auto;
    background: linear-gradient(90deg, rgb(236, 235, 235) 0%, rgba(237,237,237,1) 10%, rgba(238,238,238,1) 54%, rgba(253,253,253,1) 100%);
    border-radius: 1rem;
    width: 250px;
    
}

.chefImg {
   object-fit: cover;
}


.bottom {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff7ec; 
    flex-wrap: wrap;
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}


.bottom__text h1{
    width: 100%;
    font-size: 3rem;
}

.bottom__text p {
    width:70%;

    
}

.mobile {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 6rem;
}

.bottom__btns {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.7rem;
    border-radius: 50px;
}
.googleplay__btn {
    display: flex;
    align-items: center;
    border: 2px solid var(--btn-color);
    background-color: transparent;
    border-radius: 1.5rem;

}
.bottom .apple__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;

}
.googleplay__btn .googlePlay {
    object-fit: contain;
}
.bottom__btns span {
    font-size: 1.1rem;
}
.apple {
    font-size: 2rem;
}
.bottom__btns .btn__text {
    font-size: 0.7rem;
}

@media screen and (max-width:960px){
    .bottom {
        text-align: center;
        flex-direction: column-reverse;
    }
    .bottom__text h1 {
        font-size: 250%;
    }
    .bottom__text p {
        width:80%;
        margin: auto;
    }

    .bottom__btns {
        flex-direction: column;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .mobile {
        position: static;
        width: 80%;

    }
}


@media screen and (max-width:600px){
    .bottom {
        text-align: center;
        flex-direction: column-reverse;
    }
    
    .bottom__text h1 {
        font-size: 120%;
    }
    .bottom__text p {
        width:90%;
        margin: auto;
    }

    .bottom__btns {
        
        justify-content: center;
        margin-top: 1.5rem;
    }

    .mobile {
        position: static;
        width: 80%;

    }

    .bottom__btns {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 0.7rem;
        border-radius: 50px;
        padding: 1rem;
    }
    .googleplay__btn {
        display: flex;
        align-items: center;
        border: 2px solid var(--btn-color);
        background-color: transparent;
        border-radius: 1.5rem;
    
    }
    .bottom .apple__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 1.5rem;
    
    }
    .googleplay__btn .googlePlay {
        object-fit: contain;
    }
    .bottom__btns span {
        font-size: 1rem;
    }
    .apple {
        font-size: 2rem;
    }
    .bottom__btns .btn__text {
        font-size: 0.7rem;
    }
}


